.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #0b1120;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #00e5ff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00e5ff;
}
